<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715193164545-r9ii0s1f52r0gbkqcmamn4k4km1mh4ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715193164545-r9ii0s1f52r0gbkqcmamn4k4km1mh4ni</string>
	<key>API_KEY</key>
	<string>AIzaSyCpiJxJTcUQ-IdVmMBRAYGgTbOTfMTGFyE</string>
	<key>GCM_SENDER_ID</key>
	<string>715193164545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Studio314.MapShare</string>
	<key>PROJECT_ID</key>
	<string>mapshare-1fbee</string>
	<key>STORAGE_BUCKET</key>
	<string>mapshare-1fbee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715193164545:ios:31abcfe5975ad9c05d3100</string>
</dict>
</plist>